/*
CSS files take effect immediately after they are injected
For this reason, a typlical use would be to define new styles in a unique namespce
then inject JS to set selected elements to the new styles.

Todo: update this example
*/

#io-ox-core {
    top: 98px;
}

.charter-header {
    height: 98px;
    background: url(images/charter-bg.png);
    
    .logo {
        float: left;
        height: 98px;
        width: 195px;
        background: url(images/charter-logo-hl.png);
        margin-left: 108px;
    }
    
    .google {
        position: absolute;
        right: 330px;
        height: 98px;
        
        .input-append {
            position: absolute;
            top: 50%;
            margin-top: -15px;
        }
    }
}
